$white: #FFE;
$black: #000;
$light-cell: #FFCE9E;
$dark-cell: #D18B47;
$board: #AF650A;
$active-figure: #EFE813;
$isHighlighted: greenyellow;
$remove-figure: red;
$pinkish-grey: #c7c7c7;
$warm-grey: #979797;
$dark-grey: #d0d0d0;
$golden-yellow: #f8c61c;
$charcoal-grey: #4a4a4a;
$squash: #f6a623;